.loginBox {
    width: 70%;
    max-width: 900px;
    margin: 25px auto 0 auto;

    input,.v-btn {
        width: 100%;
        height: 40px;
        border-radius: 3px;
    }

    .title {
        text-align: center;
    }

    .inputs {
        margin: 25px 0;

        input {
            margin: 5px 0;
        }
    }

    .buttons .v-btn,
    .inputs input[type=text],
    .inputs input[type=password] {
        display: block;
        // height: 35px;
    }

    .inputs input[type=text],
    .inputs input[type=password] {
        //background-color: #292929;
    }

    .buttons .v-btn {
        margin: 15px 0;
        //background-color: #3b3b3b;
    }

    #login {
        //background-color: #00a4dc;
    }

    @media screen and (max-width:720px) {
        width: 100%;
    }
}