loguru~=0.7.2
django~=4.2.7
daphne
channels==3.0.4
channels_redis
django-eventstream
aiofiles
dj-config-url
apscheduler
redis
hiredis
pyotp
qrcode
chardet
requests
openpyxl
python-magic
python-magic-bin;platform_system=="Windows"
psycopg2; platform_system!="Windows"
psycopg2-binary; platform_system=="Windows"