-i https://pypi.tuna.tsinghua.edu.cn/simple
loguru~=0.7.2
django~=4.2.7
daphne
channels==3.0.4
channels_redis
django-eventstream
dj-config-url
apscheduler
redis
hiredis
pyotp
aiofile
requests
openpyxl
python-magic
python-magic-bin; platform_system=="Windows"
psycopg2; platform_system!="Windows"
psycopg2-binary; platform_system=="Windows"