/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

body {
    //background-color: #101010;
    //color: #fff;
}

.v-btn {
    //color: #fff;
}

header {
    //background-color: rgba(0, 0, 0, 0.4);

    strong {
        padding: 5px 0;
        font-size: 32px;
    }
}

.content {
    width: 95%;
    margin: 0 auto;
}

a {
    display: inline-block;
    color: unset;
    text-decoration: unset;
}

.pageMain-card {
    height: 100%;
}

.cropper-bg {
    background-repeat: repeat
}

.v-divider {
  margin: 10px 0;
}

.setting_subtitle {
    margin-bottom: 15px;
}
.toolsBar {
    display: flex;
    align-items: center;
    .v-btn {
        margin-right: 10px;
    }
}