#fileList {
  .header {
    display: flex;
    padding-bottom: 10px;
    flex-direction: column;
    .top {
      margin-bottom: 10px;
      .v-breadcrumbs {
        padding: 3px 0;
        //border: #777777 solid .3px;
        //border-radius: 5px;
      }
    }
    .bottom {
      display: flex;
      justify-content: space-between;
      .left .v-btn:not(:last-child) {
        margin-right: 5px;
      }
      .right .v-btn:not(:last-child) {
        margin-right: 5px;
      }
      .left .v-btn *,.right .v-btn * {
        pointer-events:none;
      }
    }

  }
  tbody tr .action {
    //display: flex;
    //flex-direction: row;
    //flex-wrap: nowrap;
    .v-btn * {
      pointer-events:none;
    }
    .v-btn:not(:last-child) {
      margin-right: 5px;
    }
  }
}
.check {
  display: flex;
}
thead tr th {
  white-space: nowrap;
}
#edit {
  width: 70vw;
  height: 65vh;
}
#uploadProgress {
  max-height: 150px;
  overflow: auto;
}
@media screen and (max-width: 530px) {
  #fileList .header {
    flex-direction: column;
    .left {
      padding-bottom: 10px;
    }
  }
  #edit {
    width: 100vw;
    height: 85vh;
    margin: 0 auto;
  }
}